.login {
    margin-left: -30em;
    padding-right: 10em;
    text-align: center;
}

/* .register {
    margin-right: 2em;
    padding-right: 10em;
    text-align: center;
} */

.register{
    padding-left: 2em;
}

/* .panel {
    width: 
} */